<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content="IE=edge">
    <title>Registeration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<form action="register" method="post">
    {%csrf_token%}
    <input type="text" name="Username" placeholder="Username"
											required="required"><br>
										<input type="email" name="email" placeholder="email"
											required="required"><br>
										<input type="password" name="password1" placeholder="password"
											required="required"><br>
										<input type="password" name="password3" placeholder="Confirm Password"
											required="required"><br>
										<button>submit</button>
</form>
</body>>
</html>